<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/write.js" async="defer"></script>
    </head>
    <body>
        <form action="/create" method="POST">
            <h1>create</h1>
            <input type="text" placeholder="title" name="title" />
            <textarea name="contents" id="" cols="30" rows="10"></textarea>
            <input type="submit" />
        </form>
    </body>
</html>
